<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homeautomation.homehub">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Register"
            android:label="@string/Reg" />
        <activity
            android:name=".activity.AddAppliances"
            android:label="@string/title_activity_add_appliances"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.homeautomation.homehub.activity.Register" />
        </activity>
        <activity
            android:name=".activity.BluetoothConnect"
            android:label="@string/p_devices" />
        <activity
            android:name=".activity.HomeHub"
            android:label="@string/title_activity_home_hub"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/action_settings" />
        <activity android:name=".activity.HubSettings.HighPerformanceActivity"
            android:label="@string/highperformance"/>
        <activity android:name=".activity.HubSettings.BalancedActivity"
            android:label="@string/balanced" />
        <activity android:name=".activity.HubSettings.PowerSaverActivity"
            android:label="@string/powersaver" />
    </application>

</manifest>